.custom-button {
  padding: 5px;
  background-color: #fff;
  color: #000;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-button:hover {
  background-color: #4CAF50;
  color: #fff;
}
.custom-input {
  padding: 7px;
  border: none;
  opacity: 0.7;
  outline: none;
  border-bottom: 2px solid #3399ff;
  transition-duration: 0.8s;
}
.custom-input:focus {
  background-color: #4CAF50;
  color: white;
  border-bottom: 2px solid #9900cc;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.title {
  text-align: center;
  color: #1f2324;
  font-size: 40px;
  padding: 0;
  margin: 0;
}
.control-panel {
  margin: 10px 0;
}
.control-panel__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.canvas {
  margin: 0 auto;
  border: 2px solid #000000;
  background-color: transparent;
}
.btn {
  background-color: #17c73f;
  border-radius: 28px;
  border: 1px solid #44c767;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, serif;
  font-size: 12px;
  padding: 14px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
  margin: 10px 0;
}
.btn:hover {
  background-color: #76bf1f;
}
.btn--clear {
  background-color: #c74a22;
}
.btn--clear:hover {
  background-color: #c72e1d;
}
.btn:active {
  position: relative;
  top: 1px;
}
.btn--close {
  background-color: #3f3f3f;
  color: #b0ead9;
  border: 1px solid #3f3f3f;
}
.btn--close:hover {
  background-color: #2e2e2e;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#direction:fullscreen {
  background-image: radial-gradient(circle, #cbd250, #61c977, #00b6a5, #009bbf, #247bb5);
}
.header {
  display: flex;
  justify-content: flex-end;
}
.background-wrapper {
  background-image: radial-gradient(circle, #cbd250, #61c977, #00b6a5, #009bbf, #247bb5);
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 100%;
}
.main-wrapper {
  font-family: 'Alata', sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}
.account-settings__title {
  text-align: center;
}
.account-settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.account-settings-form__item {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.account-settings-form__item--modules {
  flex-direction: column;
}
.account-settings-form__item--myself {
  display: flex;
  flex-direction: column;
}
.account-settings__item {
  width: 50%;
}
.my-account-logo {
  display: inline-block;
  width: 45%;
  height: 45%;
}
.account--form {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.control-button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.custom-button--save {
  display: none;
}
.custom-input--text-area {
  height: auto;
  display: block;
  resize: vertical;
  /* enables vertical height due to size of contained text */
  width: 100%;
  box-sizing: border-box;
}
.myself--label {
  display: inline-block;
  margin-bottom: 10px;
}
.myself-length {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.75);
}
.custom-input:disabled {
  color: #000000;
}
.modules-wrapper {
  text-align: center;
}
/*# sourceMappingURL=accountSettings.css.map */