@import "helpers/helpersAuthorization";
@import "helpers/helperAccountSettings";
@import "helpers/ballsStyle";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: @wrapperHeight;
}

#direction:fullscreen {
  background-image: @backgroundWrapper;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.background-wrapper {
  background-image: @backgroundWrapper;
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.main-wrapper {
  font-family: 'Alata', sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}

.account-settings__title {
  text-align: @alignCenter;
}

.account-settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
&-form__item {
  margin: 5px 0;

  display: flex;
  justify-content: space-between;

  &--modules {
    flex-direction: column;
  }

  &--myself {
    display: flex;
    flex-direction: column;
  }
}

  &__item {
    width: 50%;
  }
}

.my-account-logo {
  display: inline-block;
  width: 45%;
  height: 45%;
}

.account--form {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.control-button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.custom-button {
  &--save {
    display: none;
  }
}

.custom-input--text-area {
  height:auto;
  display:block;
  resize: vertical; /* enables vertical height due to size of contained text */
  width:100%;
  box-sizing:border-box;
}

.myself--label {
  display: inline-block;
  margin-bottom: 10px;
}

.myself-length {
  font-size: 12px;
  color: rgba(0,0,0, .75);
}

.custom-input:disabled {
  color: #000000;
}
// chat section

.modules-wrapper {
  text-align: center;
}