.logo {
  cursor: pointer;
  height: 60px;
  width: 70px;
}
.logo1 {
  cursor: pointer;
  height: 38px;
  width: 40px;
}
.logo1:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.logo2 {
  cursor: pointer;
  height: 28px;
  width: 30px;
}
.logo2:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.header {
  background-image: linear-gradient(to right bottom, #050e2b, #001f38, #002c3c, #003938, #05442e);
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cabinet {
  font-family: 'Alata', sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}
.header-button--close {
  width: 50px;
  height: 40px;
  background-color: transparent;
  background-image: url("../../src/images/back-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px 50px;
  border: none;
  outline: none;
  font-size: 0;
  color: transparent;
}
.header-button--close:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.header-button--log-out {
  width: 50px;
  height: 45px;
  background-color: transparent;
  background-image: url("../../src/images/logout.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px 45px;
  border: none;
  outline: none;
  font-size: 0;
  color: transparent;
}
.header-button--log-out:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
body {
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.login-name {
  color: white;
  margin: auto;
}
.table-wrapper {
  width: 100%;
}
.active {
  background: pink;
}
.notification-groups {
  font-size: 14px;
  border: 2px solid #9900cc;
  border-radius: 10px;
  width: 211px;
  margin-right: 5px;
}
.group-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}
.group-wrapper__item {
  display: flex;
  align-items: center;
}
.authorization-form__btn,
.btn {
  padding: 5px;
  background-color: #fff;
  color: #000;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 5px;
}
.authorization-form__btn:hover {
  background-color: #4CAF50;
  color: #fff;
}
.authorization-form__btn--exite {
  background-color: #008800;
}
.row {
  display: flex;
  justify-content: space-around;
  /*border: 1px solid #000000;*/
  border-top: 0;
  border-collapse: collapse;
}
.row input:disabled {
  color: #000;
  background-color: rgba(26, 218, 234, 0.67);
}
.row input {
  color: #ffffff;
  background-color: rgba(5, 11, 144, 0.7);
}
.btn {
  font-family: 'Alata', sans-serif;
}
.btn:hover {
  background-color: #4CAF50;
  color: #fff;
}
.btn--exite {
  background-color: #008800;
}
.main-wrapper {
  font-family: 'Alata', sans-serif;
  background-image: radial-gradient(circle, #cbd250, #61c977, #00b6a5, #009bbf, #247bb5);
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.myAccount-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrapper {
  display: flex;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  line-height: 28px;
}
.wrapper h2 {
  font-family: 'Alata', sans-serif;
  margin-bottom: 20px;
  color: #000;
  text-transform: uppercase;
}
.wrapper__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.result-table,
.row {
  width: 100%;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: row;
  justify-content: center;
}
.control-wrapper {
  padding: 10px;
  margin-right: 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-wrapper {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.notification-container {
  width: 100%;
}
.notification-container__massage {
  padding: 10px;
  margin: 5px 0;
  font-size: 17px;
  color: #ffffff;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
}
.notification-container__update {
  color: #000000;
  background-color: #90ee90;
}
.notification-container__delete {
  background-color: #e73834;
}
.result-table__item,
.row_childs {
  font-family: 'Alata', sans-serif;
  text-align: center;
  width: calc(100% / 4);
  color: #000;
  background-color: rgba(64, 205, 109, 0.9);
  /*background-color: #cd2b22;*/
  border: 2px solid #fcff7b;
  padding: 5px;
}
.row_childs {
  font-size: 14px;
}
.input-container {
  font-family: 'Alata', sans-serif;
  font-size: 18px;
  margin: 0 5px;
}
.input-containerlabel {
  color: #000;
}
.input-item {
  font-size: 14px;
  padding: 10px 5px;
  margin-top: 5px;
  border: none;
  opacity: 0.7;
  outline: none;
  border-bottom: 2px solid #3399ff;
  transition-duration: 0.8s;
}
.input-item:focus {
  background-color: #4CAF50;
  color: white;
  border-bottom: 2px solid #9900cc;
}
.control {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.control__input {
  background-color: #fcff7b;
  font-family: 'Alata', sans-serif;
  display: block;
  width: 60%;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
  color: #000;
  border-radius: 12px;
  opacity: 1;
  transition: opacity 0.1s linear;
}
.control__input:hover {
  opacity: 0.7;
}
.control__input:active {
  opacity: 0.5;
}
body {
  margin: 0;
  padding: 0;
}
.wrapper1 {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 50px;
  background-color: transparent;
  height: 100%;
}
.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
}
.canvas {
  background: #50D2CC;
  border: 1px solid black;
}
.control-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.settings-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 10px;
  height: 350px;
  border: 1px solid black;
}
.output {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  align-items: center;
}
.chat-wrapper {
  width: 20%;
}
.custom-input {
  padding: 7px;
  border: none;
  opacity: 0.7;
  outline: none;
  border-bottom: 2px solid #3399ff;
  transition-duration: 0.8s;
  width: 96%;
}
.custom-input:focus {
  background-color: #4CAF50;
  color: white;
  border-bottom: 2px solid #9900cc;
}
.custom-button {
  padding: 5px;
  background-color: #9900cc;
  color: white;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-button:hover {
  background-color: #4CAF50;
  color: #9900cc;
}
.wrapper2 {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}
.wrapper2__convert {
  text-align: center;
}
.convert-group {
  width: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.convert-group__item {
  display: flex;
  margin-bottom: 2px;
  margin-right: 3px;
  width: auto;
  background-color: #50D2CC;
}
.converter-wrapper {
  display: flex;
  width: 800px;
  height: 300px;
  border: 2px solid;
  justify-content: center;
}
.display-none {
  display: none;
}
.print-form__header {
  margin-top: 0;
}
.print-form {
  width: 33.3%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
/*# sourceMappingURL=index.css.map */