@import "helpers/helpersAuthorization";
@import "header";
@padding: 2px 0 2px 0;
@background-buttons: rgba(76, 175, 80, 1);
@background-input: rgba(241, 241, 241, 0);
@font-color-button: rgba(255, 255, 255);
@font-size-button: 20px;

.button {
  padding: @padding5px;
  background-color: @buttonBackgroundColor;
  color: @buttonTextColor;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:hover {
    background-color: @buttonBackgroundColorHover;
    color: @buttonTextColorHover;
  }
}

*{
  margin: 0;
  padding: 0;
}

.wrapper {
  background: @backgroundWrapper;
  height: 100vh;
  width: 100vw;
  font-family: 'Alata', sans-serif;
  margin: 0;
  padding: 0;
}

.content-box {
  width: 33%;
  position: relative;
  margin: 0 auto;
}


.registration-form {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    padding: @padding;
    font-size: 20px;
  }

  &__item:last-child {
    display: inline-block;
    text-align: right;
  }

  input {
    padding: 7px;
    border: none;
    opacity: 0.7;
    outline: none;
    border-bottom: 2px solid #3399ff;
    transition-duration: 0.8s;


    &:focus {
      background-color: #4CAF50;
      color: white;
      border-bottom: 2px solid #9900cc;
    }
  }

  input::-webkit-input-placeholder {
    color: rgba(99, 85, 85, 1);
  }


}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
}

.alert-error{
  font-size: 18px;
  color: red;
}
.notification{
  font-size: 18px;
  color: grey;
}
.footer {
  bottom:0;
  text-align:center;
  width:100%;
  margin-top: -100px;
}
.footer__text{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 16px;
  padding: 0px 10px 0 0;
}
.dic{
  margin-bottom: 10px;
}